<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">

    <label for="username">Name </label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</div>
    <br/>

    <label for="mail">Email: </label>
    <input type="text" th:field="*{mail}" id="mail"/>
    <div style="color:red" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">Error</div>
    <br/>

    <label for="password">Password: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</div>
    <br/>

    <label>Roles:</label>
    <div th:each="role : ${allRoles}">
        <div>
            <input type="checkbox" name="roleIds" th:value="${role.id}" th:text="${role.name}"/>
        </div>
    </div>

    <input type="submit" value="Add"/>
</form>
</body>
</html>