<!DOCTYPE html>
<html lang="en" class="h-100"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

<head>
    <title>Profile</title>
</head>
<body>
<div th:fragment="navBar">
    <nav class="navbar navbar-dark bg-dark">
        <span class="text-white p-1" style="font-weight: bold" th:utext="${userById.getMail()}"></span>
        <span class="text-white p-1"> with roles: </span>
        <span class="text-white" th:utext="${userById.getRoles()}"></span>

        <span class="text-white mx-auto"></span>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-dark text-secondary">Logout</button>
        </form>
    </nav>
</div>
<div class="container-fluid bg-light" style="padding-top: 20px">
    <div class="row h-400">
        <nav class="rounded-top col-md-2 d-none d-md-block bg-white sidebar p-0">
            <div class="sidebar-sticky ">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a sec:authorize="hasRole('ADMIN')" href="/admin">
                            <button type="submit" class="btn btn-primary w-100 text-start">Admin</button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/user">
                            <button type="submit" class="btn btn-white w-100 text-start text-primary">User</button>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-10 ml-sm-auto col-lg-10">
            <h1> Admin panel </h1>
            <ul class="nav nav-tabs pt-2">
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/admin/add">New user</a>
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item d-flex align-items-center"
                    style="height:60px; background-color: cyan; font-size: large">
                    Add new user
                </li>
                <li class="list-group-item p-5">
                    <div class="row">
                        <form class="text-center mx-auto col-6"
                              style="font-weight: bold; max-width: 300px" th:action="@{/admin}"
                              th:object="${user}"
                              th:method="POST">
                            <label for="username"><b>Name</b></label>
                            <input th:name="username"
                                   th:type="text"
                                   class="form-control" id="username"/>
                            <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</div>
                            <br>
                            <label for="mail"><b>Email</b></label>
                            <input th:name="mail" th:type="text"
                                   class="form-control" id="mail"/>
                            <div style="color:red" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">Error</div>

                            <br>
                            <label for="password"><b>Password</b></label>
                            <input th:name="password" type="password"
                                   class="form-control" id="password"/>
                            <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</div>

                            <br>
                            <label for="roles"><b>Role</b></label>
                            <select class=" form-control" id="roles"
                                    name="roles"
                                    multiple="multiple" style="height: 60px">
                                <option th:each="role : ${roles}"
                                        th:value="${role.getId()}"
                                        th:text="${role}">Role name
                                </option>
                            </select>
                            <div style="color:red">
                                <div th:if="${#fields.hasErrors('roles')}">
                                    <p th:each="err : ${#fields.errors('roles')}" th:text="${err}"></p>
                                </div>
                            </div>                            <br>
                            <button type="submit" class="btn btn-lg col-8 btn-primary" style="background-color: green; size: 100px">
                                Add
                            </button>
                        </form>
                    </div>
                </li>
            </ul>

        </main>
    </div>


</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>