<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button onclick="location.href='/admin'">To admin page</button>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">

    <div style="color:red" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Error</div>
    <br/>

    <label for="username">Username:</label>
    <input type="text" id="username" th:field="*{username}" required/>
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</div>
    <br/>

    <label for="mail">Email: </label>
    <input type="text" th:field="*{mail}" id="mail"/>
    <div style="color:red" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">Error</div>
    <br/>

    <label for="password">Password: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</div>
    <br/>

    <label>Roles:
        <input type="checkbox" th:each="role : ${roles}" th:text="${role.role}" th:value="${role.id}"
               th:field="*{roles}"/>
    </label>
    <div style="color:red">
        <div th:if="${#fields.hasErrors('roles')}">
            <p th:each="err : ${#fields.errors('roles')}" th:text="${err}"></p>
        </div>
    </div>


    <input type="submit" value="Add"/>
    <button onclick="location.href='/logout'">LOGOUT</button>
</form>
</body>
</html>