<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administrate</title>
</head>
<body>
<h1>Список всех пользователей в системе: </h1>
<button onclick="location.href='/user'">My profile</button>
<button onclick="location.href='/admin/add'">add new user</button>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Last name</th>
        <th>Mail</th>
    </tr>
    <tr th:each="user: ${users}">
        <td><a th:href="@{/admin/{id}(id=${user.getId})}" th:text="${user.getUsername}">Name</a></td>
        <td th:text="${user.getMail}">Mail</td>
        <td th:text="${user.getRoles()}">Role</td>
    </tr>
</table>
<button onclick="location.href='/logout'">LOGOUT</button>
</body>
</html>