<!DOCTYPE html>
<html lang="en" class="h-100"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

<head>
    <title>Profile</title>
</head>
<body>
<div th:fragment="navBar">
    <nav class="navbar navbar-dark bg-dark">
        <span class="text-white p-1" style="font-weight: bold" th:utext="${userById.getMail()}"></span>
        <span class="text-white p-1"> with roles: </span>
        <span class="text-white" th:utext="${userById.getRoles()}"></span>

        <span class="text-white mx-auto"></span>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-dark text-secondary">Logout</button>
        </form>
    </nav>
</div>
<div class="container-fluid bg-light" style="padding-top: 20px">
    <div class="row h-400">
        <nav class="rounded-top col-md-2 d-none d-md-block bg-white sidebar p-0">
            <div class="sidebar-sticky ">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a sec:authorize="hasRole('ADMIN')" href="/admin">
                            <button type="submit" class="btn btn-primary w-100 text-start">Admin</button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/user">
                            <button type="submit" class="btn btn-white w-100 text-start text-primary">User</button>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-10 ml-sm-auto col-lg-10">
            <h1> Admin panel </h1>
            <ul class="nav nav-tabs pt-2">
                <li class="nav-item">
                    <a class="nav-link active" href="/admin">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/add">New user</a>
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item d-flex align-items-center"
                    style="height:60px; background-color: cyan; font-size: large">
                    All users
                </li>
                <li class="list-group-item p-3">
                    <hr>
                    <table class="table table-striped">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                        <tr th:each="user : ${users}">
                            <td th:utext="${user.getUsername()}"></td>
                            <td th:utext="${user.getMail()}"></td>
                            <td th:utext="${user.getRoles()}"></td>
                            <td>
                                <a type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                   data-bs-target="#editModal"
                                   th:data-bs-target="${'#editModal'+user.getId()}">Update</a>
                            </td>
                            <td>
                                <a type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                                   data-bs-target="#DELETE"
                                   th:data-bs-target="${'#DELETE'+user.getId()}">Delete</a>
                            </td>
                            <div class="modal fade" th:id="${'editModal'+ user.getId()}"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" modal-dialog-centered>
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <form th:action="@{/admin/{id}/update(id=${user.getId()})}"
                                              th:object="${user}" th:method="PATCH">
                                            <div class="modal-body col-8 text-center mx-auto">
                                                <label for="id0"><b>ID</b></label>
                                                <input th:name="id" th:type="text" class="form-control"
                                                       id="id0" th:value="${user.getId()}" disabled/>
                                                <br>
                                                <label for="username"><b>Name</b></label>
                                                <input th:name="username" th:type="text"
                                                       class="form-control" id="username"
                                                       th:value="${user.getUsername()}"/>
<!--                                                <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</div>-->

                                                <br>
                                                <label for="email0"><b>Email</b></label>
                                                <input th:name="mail" th:type="text"
                                                       class="form-control" id="email0"
                                                       th:value="${user.getMail()}"/>
                                                <br>
                                                <label for="password0"><b>Password</b></label>
                                                <input th:name="password" type="password"
                                                       class="form-control" id="password0"/>
                                                <br>
                                                <label for="roles"><b>Role</b></label>
                                                <select class="form-control" id="roles"
                                                        name="roles"
                                                        multiple="multiple" style="height: 60px">
                                                    <option th:each="role : ${roles}"
                                                            th:value="${role.getId()}"
                                                            th:text="${role}">Role name
                                                    </option>
                                                </select>
                                                <br><br>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close
                                                </button>
                                                <button type="submit" class="btn btn-primary">
                                                    Edit
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" th:id="${'DELETE'+user.getId()}"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document" modal-dialog-centered>
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Delete
                                                user</h5>
                                            <button type="button" class="btn-close"
                                                    data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <form th:action="@{/admin/{id}(id=${user.getId()})}"
                                              th:method="DELETE">
                                            <div class="modal-body col-8 text-center mx-auto">
                                                <label for="id"><b>ID</b></label>
                                                <input th:name="id" th:type="text" class="form-control"
                                                       id="id" th:value="${user.getId()}" disabled/>
                                                <br>
                                                <label for="name"><b>Name</b></label>
                                                <input th:name="name" th:type="text"
                                                       class="form-control"
                                                       id="name" th:value="${user.getUsername()}" disabled/>
                                                <br>
                                                <label
                                                        for="email"><b>Email</b></label>
                                                <input th:name="mail" th:type="text"
                                                       class="form-control"
                                                       id="email" th:value="${user.getMail()}" disabled/>
                                                <br>
                                                <label for="roles2">Role</label>
                                                <select class="form-control" id="roles2"
                                                        name="roles2"
                                                        multiple="multiple" style="height: 60px" disabled>
                                                    <option th:each="role : ${user.getRoles()}"
                                                            th:value="${role.getId()}"
                                                            th:text="${role}">Role name
                                                    </option>
                                                </select>
                                                <br><br>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close
                                                </button>
                                                <button type="submit" class="btn btn-danger">Delete
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    </table>
                </li>
            </ul>

        </main>
    </div>


</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>